default:
    suites:
        reset:
            paths:
                - features/RoyaltyManagerReset.feature
            contexts:
                - App\Tests\Behat\RoyaltyManagerResetContext
        viewing:
            paths:
                - features/RoyaltyManagerViewing.feature
            contexts:
                - App\Tests\Behat\RoyaltyManagerViewingContext
        payments:
            paths:
                - features/RoyaltyManagerPayments.feature
            contexts:
                - App\Tests\Behat\RoyaltyManagerPaymentsContext
    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/bootstrap.php
